html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;

}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
   

  }
  .search-bar{
    width:200px;
    
   
  }
}
.profile_picture{
  height: 50px;
  width: 50px;
 
  border-radius: 50%;
}
.profile_picture img{
  height: 50px;
  width: 50px;

  border-radius: 50%;
}
input.light,input.dark{
  background-color:transparent;
  border: none;
  outline: none;
  width: 300px;
  height: 80%;
}
input.light:focus{
  border: none;
  outline:none
}
input.light{
  color: black;
}
input.dark{
  color: white;
}
span.dark{
  color: white;
}
span.light{
  color: black;
}
.dark{
  color: white;
}
.light{
  color: black;
}

@media (max-width:400px) {
 input.light{
  width: 60%;
 
  height: 30px;
 
 }
 input.dark{
  width: 60%;

 
 }
 .setting_button{
  max-width: 30px;
}
}
@media (max-width:700px) {
  input.light{
   width: 70%;
  
  
  }
  .setting_item{
    display: none;
  }
  .setting_button{
    max-width: 30px;
  }
  input.dark{
   width: 70%;
 
  
  }
 }
 @media (max-width:300px) {
  input.light{
 display: none;
  
  }
  .setting_item{
    display: none;
  }
  .setting_button{
    max-width: 30px;
    align-items: center;
  }
  input.dark{
 display: none;
 
  
  }
  .search{
    width: 100%;
  }
  .setting_sidebar{
    width: 40px;
    align-items: center;
  }
  .profile_picture{
    width: 30px;
    height: 30px;
  }
 }
.App{
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
 
  display: flex;
  flex-direction: column;
}